.zone-visual {
    width: 100%;
    height: 92%;
}

.grid-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    height: 92%;
}

.grid-row {
    display: flex;
    gap: 2px;
    flex: 1;
}

.grid-cell {
    border: 1px dashed gray;
    text-align: center;
    flex: 1; /* Co giãn theo chiều ngang */
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    font-size: 14px;
    transition: background-color 0.2s;
}

.empty-cell {
    background-color: #fff;
}

.highlighted-cell {
    background-color: #c7cacc;
    font-weight: bold;
}


/*.zone-visual {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
/*.grid-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 2px;*/
/*}*/


/*.grid-row {*/
/*    display: flex;*/
/*    gap: 2px;*/
/*}*/

/*.grid-cell {*/
/*    width: 120px;*/
/*    height: 80px;*/
/*    border: 1px dashed #aaa;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    text-align: center;*/
/*    font-size: 12px;*/
/*    padding: 4px;*/
/*    background-color: #f9f9f9;*/
/*    border-radius: 4px;*/
/*}*/

/*.highlighted-cell {*/
/*    background-color: #dadad4;*/
/*    font-weight: bold;*/
/*}*/




